:root{
    --cor-site: #F2529D;
}

html{
    font-family: sans-serif;
}

.maxWidth{
    max-width: 90em; /*1440px dividido por 16 = 90em*/
}

.header{
    text-align: center;
    margin: auto;
}

.header_logo{
    width: 5.9em;
    height: 100%;
    margin: 1em;
}

.header_nav{
    background-color: var(--cor-site);
}

ul{
    margin: 0;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover{
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

@media screen and (min-width:48em){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }  
    
    .header_logo{
        margin-left: 2em;
    }

    .header_nav{
        background-color: initial;
    }

    .header_nav ul{
        margin-right: 2em;
        font-size: 1em;
    }

    .header_nav li{
        display: inline-block;
    }

    .header_nav a{
        color: var(--cor-site);
        border-radius: 5px;
    }

    .header_nav a:hover{
        background-color: color-mix(in srgb, var(--cor-site), #ffffff 80%);
    }
} /*Telas de tablet costumam ter entre 768px, se dividir 768 por 16 = 48em. O min-width signifca que, quando a largura da tela for maior que 48em, vai acontecer alguma coisa*/

.trailer{
    background-color: #e4f2eb;
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
}

.trailer div{
    text-align: center;
    margin: auto;
    width: 80%;
}

.trailer_tittle{
    margin-top: 0;
    padding-top: .5em;
    color: var(--cor-site);
}

.trailer_tittle h1{
    font-size: 2em;
    margin-bottom: 1em;
}

.trailer_paragrafo{
    font-size: 1.1em;
}

.trailer_botao{
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.trailer_botao:hover{
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

.video{
    display: none;
}

@media screen and (min-width: 48em){

    .trailer_botao{
        display: none;
    }

    .trailer{
        background-image: url(Imagem/FundoTrailer.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: initial;
    }

    .video{
        display: block;
    }

    .video .tamanho{
        border-radius: .8em;
        margin-bottom: 1em;
    }

    .trailer_paragrafo{
        margin-bottom: 2em;
    }
}

.botao_article{
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.botao_article:hover{
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

.main_content{
    background-color: #e1d9d9;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.main_content div{
    margin: auto;
    padding: 1em;
    width: 80%;
}

.main_content_tittle{
    color: var(--cor-site);
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.col{
    flex: 1 0 auto;
    width: 100%;
}

.col-12{
    width: 100%;
}

@media screen and (min-width: 48em){
    .col-6{
        width: calc(50% - 2rem);
    }
}

footer{
    background-color: #F2529D;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}